*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
body{
    height: 100%;
}

/*! +++++ HEADER +++++ */
 /*? LEFT */
.header{
    display: flex;
    justify-content: space-between;
    padding: 2rem;
    height: 12%;
    background-color: black;
    border-bottom: 2px solid rgba(204, 8, 8, 0.687);
    /* position: sticky; */
    /* top: 0px; */
    flex-wrap: wrap;
    
}
.header .header__left{
    display: flex;
    align-items: center;
}

.header__left a span{
    color: rgba(204, 8, 8, 0.687);
    font-size: 1.5rem;
}

.header div .web-design{
    color: white;
}

.header div .web-design:hover{
    color: rgba(204, 8, 8, 0.687);
}

/*? RİGHT */

.header__right{
    display: flex;
    gap: 1rem;
    font-size: 1.5rem;
}

.header__right a{
    color: white;
}

.header__right a:hover{
    color: rgba(204, 8, 8, 0.687);
}

.header__right .header__right--home{
    color: rgba(204, 8, 8, 0.687);
}

/*! +++++ MAİN2 +++++ */

.main2{
    display: flex;
    background-color: black;
    height: 15%;
    padding: 0px 2rem;
    justify-content: space-between;
    align-items: center;
}

.main2__div--left{
    color: white;
    font-size: 1.2rem;
}

.main2__div--right input{
    width: 220px;
    padding: 0.3rem;
}

.main2__div--right button{
    padding: 0.3rem;
    color: black;
    background-color: red;
    width: 100px;
}
.main2__div--right button:hover{
    padding: 1rem;
    border-top-left-radius: 2rem;
    border-bottom-right-radius: 2rem;
    cursor: pointer;
}


/*! +++++ MAİN3 +++++ */

.main3{
    background-color: #FF3CAC;
background-image: linear-gradient(225deg, #FF3CAC 0%, #784BA0 50%, #2B86C5 100%);
    padding: 1rem;
    height: 53%;
    display: flex;
}

.main3 .left div h3{
    padding: 1rem;
}

.main3 .right{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
overflow: auto;
}

.main3 .left div .p1,.p2{
    padding: 1rem;
    
    
}

.main3 .left{
    background-color: #4158D0;
background-image: linear-gradient(43deg, #4158D0 0%, #C850C0 46%, #FFCC70 100%);
overflow: auto;
}


.main3 .right div h3{
    padding: 1rem;
}

.main3 .right div p{
    padding: 1rem;
}


/*! +++++ FOOTER +++++ */

.footer{
    background-color: rgba(0, 0, 0, 0.697);
    height: 20%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */
}

.footer p{
    color: white;
    padding: 1rem;
}

